<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControllerr</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>controller.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerUpdate</servlet-name>
        <servlet-class>controller.update.CustomerUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesUpdateCustomer</servlet-name>
        <servlet-class>controller.update.ProsesUpdateCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GadaiUpdate</servlet-name>
        <servlet-class>controller.update.GadaiUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesUpdateGadai</servlet-name>
        <servlet-class>controller.update.ProsesUpdateGadai</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GadaiController</servlet-name>
        <servlet-class>controller.GadaiController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDelete</servlet-name>
        <servlet-class>controller.delete.CustomerDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GadaiDelete</servlet-name>
        <servlet-class>controller.delete.GadaiDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerInsert</servlet-name>
        <servlet-class>controller.insert.CustomerInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerAutoID</servlet-name>
        <servlet-class>controller.insert.CustomerAutoID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GadaiInsert</servlet-name>
        <servlet-class>controller.insert.GadaiInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GadaiAutoID</servlet-name>
        <servlet-class>controller.insert.GadaiAutoID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AngsuranController</servlet-name>
        <servlet-class>controller.AngsuranController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AngsuranInsert</servlet-name>
        <servlet-class>controller.insert.AngsuranInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AngsuranAutoID</servlet-name>
        <servlet-class>controller.insert.AngsuranAutoID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControllerr</servlet-name>
        <url-pattern>/loginControllerr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/customerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerUpdate</servlet-name>
        <url-pattern>/customerUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesUpdateCustomer</servlet-name>
        <url-pattern>/prosesUpdateCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GadaiUpdate</servlet-name>
        <url-pattern>/gadaiUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesUpdateGadai</servlet-name>
        <url-pattern>/prosesUpdateGadai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GadaiController</servlet-name>
        <url-pattern>/gadaiController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDelete</servlet-name>
        <url-pattern>/customerDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GadaiDelete</servlet-name>
        <url-pattern>/gadaiDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerInsert</servlet-name>
        <url-pattern>/customerInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerAutoID</servlet-name>
        <url-pattern>/customerAutoID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GadaiInsert</servlet-name>
        <url-pattern>/gadaiInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GadaiAutoID</servlet-name>
        <url-pattern>/gadaiAutoID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AngsuranController</servlet-name>
        <url-pattern>/angsuranController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AngsuranInsert</servlet-name>
        <url-pattern>/angsuranInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AngsuranAutoID</servlet-name>
        <url-pattern>/angsuranAutoID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
